<!-- src/app/layout/main-layout/main-layout.component.html -->

<!--
  Usamos Flexbox de Tailwind para crear una estructura de columna que ocupe, como mínimo,
  toda la altura de la pantalla (min-h-screen). Esto asegura que el footer
  siempre esté al final, incluso en páginas con poco contenido.
-->
<div class="flex flex-col min-h-screen bg-gray-50">


  <!-- 1. BARRA DE NAVEGACIÓN -->
  <!-- 'app-navbar' es el selector de nuestro NavbarComponent. Angular lo reemplazará por su HTML. -->
  <app-Navbar/>

  <!-- 2. CONTENIDO PRINCIPAL -->
  <!--
    'flex-grow' hace que esta sección ocupe todo el espacio vertical disponible.
    'container mx-auto' centra el contenido y le da un ancho máximo en pantallas grandes.
    'px-4 py-8' añade un poco de padding horizontal y vertical.
  -->
  <main class="flex-grow container mx-auto px-4 py-8">
    <!--
      ¡LA DIRECTIVA MÁS IMPORTANTE!
      <router-outlet> es el portal mágico donde Angular inyectará el componente
      que corresponda a la ruta actual (Login, Products, etc.).
    -->
    <router-outlet></router-outlet>
  </main>

  <!-- 3. PIE DE PÁGINA -->
  <!-- 'app-footer' es el selector de nuestro FooterComponent. -->
  <app-Footer/>

</div>
